<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<style type=text/css>
    .round {
        width: 300px;
        height: 300px;
        border: 2px solid deepskyblue;
        border-radius: 15px;
    }
</style>

<div background="{{ url_for('static', filename='images/teacher_backgroud.png ') }}"
    style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
    <!-- grid system -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="navbar-form navbar-right">
                    <inline style="padding:20px 20px;"><button><a href="./login.html">Logout</a></button>
                    </inline>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="padding:200px 200px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <form action="{{ url_for('attendance') }}" method="post">
                    <div class="row" style="background-color:deepskyblue;">
                        <h4>Student Name:{{ studentname }}</h4>
                        <h4>Student Number: {{ studentnumber }}</h4>
                    </div>
                    <div class="row pre-scrollable" style="background-color:floralwhite;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Attendance</th>
                                    <th>Reason</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="date" name="date" value="date"></td>
                                    <td><input type="checkbox" value="attendance" id="attendance"></td>
                                    <td><input type="text" name="reason" value="reason"></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><button class="btn btn-default center-block" data-toggle="modal"
                    data-target="#myModal">Submit</button></div>
            <div class="col-md-6">
                <form action="{{ url_for('attendance') }}" method="get">
                    <button class="btn btn-default center-block">Back</button>
                </form>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">Are you sure to keep it?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="document.getElementById('attendance').submit();">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>