<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<style type=text/css>
    .round {
        width: 300px;
        height: 300px;
        border: 2px solid deepskyblue;
        border-radius: 15px;
    }
</style>

<body background="{{ url_for('static', filename='images/teacher_backgroud.png ') }}"
    style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
    <!-- grid system -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="navbar-form navbar-right">

                    <inline style="padding:20px 20px;"><button><a href="./login.html">Logout</a></button>
                    </inline>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="padding:50px 200px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="row" style="background-color:deepskyblue;">
                    <h4>Student Name:</h4>
                    <h4>Student Number:</h4>
                </div>
                <form action="{{ url_for('course') }}" method="post" id="course">
                <div class="row" style="background-color:floralwhite;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>8:00-8:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>9:00-9:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>10:00-10:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>11:00-11:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>12:00-12:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>13:00-13:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>14:00-14:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>15:00-15:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>16:00-16:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>
                            <tr>
                                <td>17:00-17:50</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                                <td><input type="text" size="5">{{ course2 }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><button class="btn btn-default center-block" data-toggle="modal"
                    data-target="#myModal">Submit</button></div>
            <div class="col-md-6">
                <form action="{{ url_for('course') }}" method="get">
                    <button class="btn btn-default center-block">Back</button>
                </form>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">Are you sure to keep it?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"  onclick="document.getElementById('course').submit();">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>