{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}{{ essay['title'] }}{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div>
        <p>{{ essay['body'] }}</p>
        <div class="content-head">
            <div style="margin: 0 10px">
                <sapn>点赞</sapn>
                {% if isLike  %}
                    <a href="{{ url_for('blog.commentGood', id='%s' %essay['id']) }}"><img src="{{ url_for('static',filename='images/goodUp.png') }}" style="width: 18px"></a>
                {% else %}
                    <a href="{{ url_for('blog.commentGood', id='%s' %essay['id']) }}"><img src="{{ url_for('static',filename='images/good.png') }}" style="width: 18px"></a>
                {% endif %}
            </div>
            <div style="margin: 0 10px" >
                <sapn>转发</sapn>
                <a href=""><img src="{{ url_for('static',filename='images/share.png') }}" style="width: 18px; color: black" ></a></div>
        </div>
    </div>
    <hr>
    <div class="lg-container">
        <div class="comment-group">
            {#            评论输入框#}
            <div class="add-comment-group">
                <h4>发表评论</h4>
                <form method="post" action="{{ url_for('blog.commentAdd') }}">
                    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
                    <input type="submit" value="发表评论">
                </form>
            </div>
            {#            评论列表#}
            <h4>评论列表</h4>
            <hr>
            <ul class="comment-list-group" style="padding-left: 0px;">
                <li style="display: flex;">
                    <div class="avatar-group" style="margin: 0px 10px">
                        <img src="{{ url_for('static',filename='images/user.png') }}" style="width: 60px; height: 60px"
                             alt="">
                    </div>
                    <div class="comment-content">
                        <div class="author-info">
                            <span>username</span>
                            <span>create_time</span>
                        </div>
                        <p class="comment-txt">
                            ddddddddddddddddd
                        </p>
                    </div>
                </li>
                <li style="display: flex; margin: 10px 0px">
                    <div class="avatar-group" style="margin: 0px 10px">
                        <img src="{{ url_for('static',filename='images/user.png') }}" style="width: 60px; height: 60px"
                             alt="">
                    </div>
                    <div class="comment-content">
                        <div class="author-info">
                            <span>username</span>
                            <span>create_time</span>
                        </div>
                        <p class="comment-txt">
                            ddddddddddddddddd
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
